*{
	font-family: Verdana;
}
.tubuh{
	height: 1300px;
	width: 900px;
	padding: 20px;
	padding-bottom: 1000px;
	border-radius: 15px 15px 0px 0px;
	margin: auto;
	background-color: white;
}
.kepala{
	height: 100px;
	width: 100%;
}
.logo{
	height: 100px;
	width: 90px;
	float:left;
}
.judul{
	height: 90px;
	width: 90%;
	float: right;
	padding: 10px 0px 0px 0px;
}
#navbar{
	height: 50px;
	width: 100%;
	margin: 0px 0px 10px 0px;
	background-color: blue;
	font-size: 15px
}
nav ul {
    padding: 0px;
    list-style: none;
    width: 100%;
}
nav ul li{
    float:left;
    padding: 10px 0px 10px 0px;
}
nav ul li:hover{
    background-color:#FFC312;
    height: 25px;
    transition: background-color 1s ease;
}
nav ul li:hover a{
    color:#222f3e;
}
nav ul li a{
    padding: 0px 15px 0px 15px;
    color: #fff;
    text-decoration: none;
 }
.gambar_kampus{
	width: 100%;
}
.pembukaan{
	height: auto;
	width: 900px;
	font-size: 15px
	padding: 5px 50px 0px 50px;
	margin-top: 10px;
	text-align: left;
}
.misi{
	height: auto;
	width: 900px;
	font-size: 15px
	padding: 5px 50px 0px 50px;
	margin-top: 10px;
	text-align: left;
}
.profil{
	width: 100%;
	height: 250px;
	margin-top: 20px;
}
.foto{
	width: 180px;
	height: 220px;
	margin-left: 350px;
	font-size: 14px;
	float: left;
	padding: 15px;
	border: 1px solid;
}
.img{
	display: block;
	margin: auto;
	border: 1px solid;
}
.nama{
	font-size: 12px;
	margin-top: 5px;
	font-weight: bold;
	text-align: center;
}